<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {{>css}}
        <title>{{title}}</title>
    </head>
    <body>
         {{>navbar}}
        <header class="jumbotron">
            <div class="container">
                <div class="row row-header">
                    <div class="col">
                        <h1>Verdict</h1>
                        <p>This is a page to give verdict on teachers</p>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row justify-content-center" style="padding-bottom: 50px;">
                    <div class="col-auto">
                        <h3>{{title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{#each teachers}}
                            {{>card}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            {{>footer}}
        </footer>
        {{>js}}
        <script src="/js/card.js"></script>
    </body>
</html>