<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {{>css}}
        <title>{{title}}</title>
    </head>
    <body>
        {{>navbar}}
        <header class="jumbotron bg-white">
            <div class="row row-header justify-content-center">
                <div class="col-auto">
                    <h1>Verdict</h1>
                    <p>Welcome! This is a website that helps students to share opinions and reviews about their teachers.</p>
                </div>
            </div>
        </header>
        <main>  
            <div class="container">
                <div class="row row-content">
                    <div class="col-12">
                        <div id="indexcarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-caption d-block">
                                        <h2>This is a page where students can pass reviews on teachers without any fear.</h2>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-caption d-block">
                                        <h2>Freedom from Oppressors!</h2>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h2 class="carousel-caption d-block">
                                        Start reviewing and free your mind from thoughts bothering you.
                                    </h2>
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#indexcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#indexcarousel" data-slide-to="1" class="active"></li>
                                <li data-target="#indexcarousel" data-slide-to="2" class="active"></li>
                            </ol>
                            <a class="carousel-control-prev" href="#indexcarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" role="button" href="#indexcarousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                            <button class="btn btn-danger btn-sm" type="button" id="carouselbutton">
                                <span class="fa fa-pause"></span>
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto" id="departmentlinks">
                        <div class="text-center">
                            <h3>Departments</h3>
                            <a href="#" class="text-info" style="padding-left: 10px;">Mechanical Engineering</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Electronics and Communication Engineering</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Computer Science &amp; Engineering</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Electrical and Electronics Engineering</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Electronics and Telecommunication Engineering</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Information Science &amp; Engineering</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Civil Engineering</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Master of Computer Applications</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Chemistry</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Physics</a><br>
                            <a href="#" class="text-info" style="padding-left: 10px;">Mathematics</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            {{>footer}}
        </footer>
        {{>js}}
    </body>
</html>