<div class="container">
    <div class="row">
        <div class="col-4 offset-1 col-sm-2">
            <h5>Links</h5>
            <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
            </ul>
        </div> 
        <div class="col-7 col-sm-5">
            <h5>Address</h5>
            <address>Some Address</address>
        </div>
        <div class="col-12 col-sm-4">
            <div class="text-center">
                <h5>Social Media</h5>
                <a href="">Google</a>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
                <a href="">Linkedin</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p>Copyright &copy; 2020 Arun R Shenoy</p>
        </div>
    </div>
</div>
