<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Verdict</a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" data-target="navbardrop" aria-expanded="false" aria-haspopup="true">Departments</a>
                <div class="dropdown-menu" id="navbardrop">
                    <a href="#" class="dropdown-item text-white">Mechanical Engineering</a>
                    <a href="#" class="dropdown-item text-white">Electronics and Communication Engineering</a>
                    <a href="#" class="dropdown-item text-white">Computer Science &amp; Engineering</a>
                    <a href="#" class="dropdown-item text-white">Electrical and Electronics Engineering</a>
                    <a href="#" class="dropdown-item text-white">Electronics and Telecommunication Engineering</a>
                    <a href="#" class="dropdown-item text-white">Information Science &amp; Engineering</a>
                    <a href="#" class="dropdown-item text-white">Civil Engineering</a>
                    <a href="#" class="dropdown-item text-white">Master of Computer Applications</a>
                    <a href="#" class="dropdown-item text-white">Chemistry</a>
                    <a href="#" class="dropdown-item text-white">Physics</a>
                    <a href="#" class="dropdown-item text-white">Mathematics</a>
                </div>
                </li>
            </ul>
        </div>
    </div>
</nav>