.navbar-dark {
    background-color:  #cc7a00;
}

.dropdown-menu {
    background-color: #cc7a00;
    border: none;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-item:hover {
    background-color: #cc7a00;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px 0px 0px 0px;
}

.row-content {
    margin: 20px auto;
    padding: 50px auto;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #ffe0b3;
    margin: 20px 0px 0px 0px;
    padding: 20px 0px;
}

body {
    padding: 50px 0px 0px 0px;
}


.card-content {
    padding: 0px auto;
    margin-bottom: 50px;
    border-bottom: 1px ridge;
}

.carousel .carousel-item {
    height: 300px;
    background-color: #ffc266;
}

.carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselbutton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}
